#nav-logo-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(to right, #c084fc, #ec4899, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  padding: 0;
  margin: 0;
}

navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #23083f, #23083f, #3f0e74);
  max-height: 72px;
  padding: 30px 112px;
  position: sticky;
  border-bottom: 1px solid #1e293b;
}

.nav-item {
  display: flex;
}

#nav-logo {
  width: 32px;
  height: 32px;
}

#nav-home-logo {
  width: 24px;
  height: 32px;
}

#nav-home-title {
  color: #c084fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 7px;
  text-decoration: none;
  padding: 0 5px;
}

#nav-home-title:hover {
  color: #dec4fa;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px 112px;
  color: white;
  background: linear-gradient(to bottom right, #1e1b4b, #3b0764, #020617);
}

#main_show_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.show_component {
  width: 23.9%;
  border: 1px solid rgba(51, 65, 85, 0.5);
  border-radius: 8px;
  height: 100%;
  margin: 10px;
  overflow: hidden;
}

.show_component:hover {
  border: 1px solid rgba(168, 85, 247, 0.5);
  box-shadow: 0 10px 15px -3px rgba(168, 85, 247, 0.2);
  transition: all 300ms ease;
}

.show_component_data {
  padding: 10px;
}

.show_img {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0f172a;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 2/3;
}

.show_img:hover {
  scale: calc(1.05);
  transition: 300ms;
}

#main_show_load {
  margin-top: 48px;
  text-align: center;
}

#load_btn {
  background-color: #9333ea;
  color: #ffffff;
  width: 100px;
  height: 50px;
  font-size: 16px;
  padding: 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

#load_btn:hover {
  background: #7e22ce;
  transition: ease(150);
}
